<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>NhanNT.controller.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>NhanNT.controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>NhanNT.controller.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showSearchResultServlet</servlet-name>
        <servlet-class>NhanNT.controller.showSearchResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>NhanNT.controller.deleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>NhanNT.controller.updateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addItemController</servlet-name>
        <servlet-class>NhanNT.controller.addItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nullController</servlet-name>
        <servlet-class>NhanNT.controller.nullController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccountController</servlet-name>
        <servlet-class>NhanNT.controller.createAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showSearchResultServlet</servlet-name>
        <url-pattern>/showSearchResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addItemController</servlet-name>
        <url-pattern>/addItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nullController</servlet-name>
        <url-pattern>/nullController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccountController</servlet-name>
        <url-pattern>/createAccountController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            600
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>mainController</welcome-file>
    </welcome-file-list>
    <welcome-file/>
</web-app>
